/* цвет основного теста: rgba(33, 33, 33, 1) */
/* вторичный цвет текста: rgba(117, 117, 117, 1); */
/* белый цвет: rgba(255, 255, 255, 1); */
/* цвет акцента: rgba(33, 150, 243, 1) */
/* цвет фона: #e5e5e5; */
/* вторичный цвет фона: #F5F4FA */

/* Styles for index.html */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bg-color: #ffffff;
  --white-color: #ffffff;
  --secondary-bg-color: rgb(245, 244, 250);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-links-list {
  display: flex;
  margin-top: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item {
  margin-right: 10px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: var(--accent-color);
}

.social-link:hover .social-list-icon {
  fill: var(--white-color);
}

/* HEADER */

.header {
  background-color: var(--white-color);
  border: 1px solid #ececec;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.studio {
  margin-right: 93px;
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo,
.studio {
  display: inline-block;
}

/* NAVIGATION */

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .link {
  display: block;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .link.current {
  color: var(--accent-color);
}

.nav-list .current-link {
  display: flex;
  flex-direction: column;
}

.current-link {
  position: relative;
}
.current-link::after {
  position: absolute;
  top: 45px;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: flex;
  justify-content: baseline;
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.contact-nav .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-nav .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.icon-envelope {
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone {
  fill: #757575;
  width: 10px;
  height: 16px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover .icon-envelope,
.mail:focus .icon-envelope {
  fill: var(--accent-color);
}

.tel:hover .icon-smartphone,
.tel:focus .icon-smartphone {
  fill: var(--accent-color);
}
/* FOOTER */

.footer {
  background-color: #2f303a;
}

.contacts-box {
  width: 270px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.studio-dark-theme {
  color: var(--white-color);
}

.contacts-box > a {
  margin-bottom: 30px;
}

.footer .address {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.social-list-box {
  width: 270px;
}

.call-to-action {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .social-links-list {
  display: flex;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover {
  background-color: var(--accent-color);
}

.footer .social-list-icon {
  fill: var(--white-color);
}

.subscribe-box {
  width: 570px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: rgba(24, 140, 232, 1);
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
  margin-left: 10px;
}
