/* цвет основного теста: rgba(33, 33, 33, 1) */
/* вторичный цвет текста: rgba(117, 117, 117, 1); */
/* белый цвет: rgba(255, 255, 255, 1); */
/* цвет акцента: rgba(33, 150, 243, 1) */
/* цвет фона: #e5e5e5; */
/* вторичный цвет фона: #F5F4FA */

/* Styles for index.html */

/* Hero */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hero-img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.png);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: top;
}

.hero {
  text-align: center;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

/* Button */
.hero-button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: rgba(24, 140, 232, 1);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

/* Features */

.features-section {
  padding-top: 94px;
  padding-bottom: 47px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.feature-list .item {
  width: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.clock::before {
  background-image: url(../images/features/clock.svg);
}

.diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;
}
.feature-list .text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-list .title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Works */

.work-list-thumb {
  display: flex;
  position: relative;
}

.works-list .text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.works-section {
  padding-top: 47px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.works-list .item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

/* Team */

.team {
  background-color: var(--secondary-bg-color);
  margin-bottom: 0px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list .item {
  width: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.social-links-list {
  display: flex;
  margin-top: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:not(:last-child) {
  margin-right: 10px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: var(--accent-color);
}

.social-link:hover .social-list-icon {
  fill: var(--white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list-item {
  width: calc(100% / 6 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover {
  border: 1px solid var(--accent-color);
}

.client-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon {
  fill: var(--accent-color);
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.modal-submit-button {
  align-self: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:focus,
.modal-submit-button:hover {
  background-color: rgba(24, 140, 232, 1);
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.label::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.label-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.label-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  display: block;
}

.label-input:focus + .icon {
  fill: var(--accent-color);
}

.feedback-input {
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.feedback-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.label-agree-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.label-agree-policy a {
  color: var(--accent-color);
}

.label-agree-policy::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.agree-policy:checked + .label-agree-policy::before {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
