.footer {
  background-color: #2f303a;

  & .address {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  & .contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  & .social-links-list {
    display: flex;
  }

  & .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: var(--accent-color);
    }
  }

  & .social-list-icon {
    fill: var(--white-color);
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-box {
  width: 270px;

  & > a {
    margin-bottom: 30px;
  }
}

.studio-dark-theme {
  color: var(--white-color);
}

.social-list-box {
  width: 270px;
}

.call-to-action {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-box {
  width: 570px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}
.subscribe-input {
  flex-grow: 1;
  height: 50px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
  margin-left: 10px;
}
